<main class="main">
  <div class="content">
    <div _ngcontent-its-c16="" class="card" style="min-height: 50vh; min-width: 769px;">

      <iframe
        #checkoutIframe
        title="Universal Checkout Interface"
        _ngcontent-its-c16=""
        class="col"
        style="border: 1px solid red; overflow: scroll; min-width: 750px"
        src="https://ui.uc.dev.yk8s.allfos.net/?checkout-id=5e6507fb-ce36-4616-bcca-96d39954cb77"></iframe>
    
    </div>
  </div>
</main>




<router-outlet />
